/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/FTLab2.iml
/out/production/FTLab2/Lab2/Main.class
/out/production/FTLab2/Lab2/Dog.class
/out/production/FTLab2/Lab2/TemaLab2.class
*.iml
*.class
